<app-header></app-header>
<main>
    <section class="container">
        <section class="container__title">
            <h1 class="title">Bem-Vindo a Reserva Mogly! Preencha os campos abaixo para se cadastrar.</h1>
        </section>
        <section class="container__form">
            <form>
                <section class="form__info">
                    <section class="description">
                        <label>Nome Completo: <strong class="mandatory">*</strong></label>
                        <input type="text" name="name" id="name">
                    </section>
                </section>
            </form>
        </section>
    </section>
</main>
<app-footer></app-footer>