:host {
  .container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    &__title {
      padding: 50px 0;

      .title {
        font-size: 25px;
      }
    }

    &__form {
      display: flex;
      margin: 0 auto;

      width: 1200px;
      border: 2px solid #D9D9D9;
      border-radius: 10px;

      justify-content: center;

      .form__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 1100px;
        padding: 20px 0;

        .description {
          display: flex;
          flex-direction: column;
          justify-content: center;

          label {
            display: flex;
            justify-content: left;
            font-size: 15px;
          }

          .text__form {
            height: 30px;
            padding: 0px 5px;

            border: 2px solid #D9D9D9;
            border-radius: 10px;

            font-size: 14px;
          }

          #name {
            width: 300px;
          }

          #email {
            width: 500px;
          }

          #date {
            width: 150px;
          }

          #cell {
            width: 130px;
          }

          #cpf {
            width: 150px;
          }

          #rg {
            width: 150px;
          }

          #note {
            width: 450px;
          }

          .button {
            height: 35px;
            width: 175px;
            font-size: 16px;
            font-weight: 700;

            border-radius: 10px;
            border-width: 0.1px;
            border: none;

            cursor: pointer;

            color: #FFF;
          }

          .register {
            background-color: #1aa30d;
            margin-left: 350px;
          }

          .register:hover {
            background-color: #0d7503;
          }

          .clean {
            background-color: #c52424;
            margin-right: 350px;
          }

          .clean:hover {
            background-color: #852020;
          }
        }
      }
    }

    &__error {
      padding-top: 30px;
      font-size: 16px;
      color: #ff0000;
      font-weight: 700;

      .msg-error {
        border: 1px solid #ff0000;
        padding: 10px 25px;
      }
    }

    .table {
      table {
        border-collapse: collapse;
        width: 1200px;
        font-size: 15px;
        border: 1px solid #E1DEDE;
        margin: 45px auto;

        thead {
          background: #E1DEDE;
          height: 32px;
          border: 1px solid #E1DEDE;

          th {
            text-align: left;
            padding: 15px 25px;
            text-align: left;
          }
        }

        tbody {
          background: #F8F3F3;
          border: 1px solid #E1DEDE;

          td {
            height: 32px;
            border-top: 1px solid #E1DEDE;
            border-bottom: 1px solid #E1DEDE;
            padding: 10px 25px;
            text-align: left;
          }

          tr {
            cursor: pointer;
          }

          tr:hover {
            background: #3FA755;
            color: #FFF;
          }
        }
      }
    }
  }
}
