<app-header></app-header>
<section class="info">
    <section class="info__main__title">
        <h1 class="title">Bem-Vindo a Reserva Mogly!</h1>
    </section>
    <section class="info__text">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore eos blanditiis harum aperiam distinctio
            quae, corporis tempore hic nostrum porro praesentium iste vero reiciendis incidunt nulla, neque eaque
            molestias. Voluptatum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis consequatur unde
            provident cumque laborum pariatur autem soluta repudiandae eius. Veniam voluptatem nemo culpa sed quos
            voluptate mollitia cupiditate. Unde, provident! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Blanditiis illo eligendi aut, veritatis assumenda, explicabo eius ducimus ipsum eaque dolorem ex pariatur
            iusto. Pariatur rem corrupti ad fugiat culpa doloremque? Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Nobis explicabo qui, voluptatum, beatae cumque et aut ex vero, saepe ab quae. Molestias corporis
            ducimus neque repudiandae veniam sed cumque veritatis?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore eos blanditiis harum aperiam distinctio
            quae, corporis tempore hic nostrum porro praesentium iste vero reiciendis incidunt nulla, neque eaque
            molestias. Voluptatum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis consequatur unde
            provident cumque laborum pariatur autem soluta repudiandae eius. Veniam voluptatem nemo culpa sed quos
            voluptate mollitia cupiditate. Unde, provident! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Blanditiis illo eligendi aut, veritatis assumenda, explicabo eius ducimus ipsum eaque dolorem ex pariatur
            iusto. Pariatur rem corrupti ad fugiat culpa doloremque? Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Nobis explicabo qui, voluptatum, beatae cumque et aut ex vero, saepe ab quae. Molestias corporis
            ducimus neque repudiandae veniam sed cumque veritatis?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore eos blanditiis harum aperiam distinctio
            quae, corporis tempore hic nostrum porro praesentium iste vero reiciendis incidunt nulla, neque eaque
            molestias. Voluptatum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis consequatur unde
            provident cumque laborum pariatur autem soluta repudiandae eius. Veniam voluptatem nemo culpa sed quos
            voluptate mollitia cupiditate. Unde, provident! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Blanditiis illo eligendi aut, veritatis assumenda, explicabo eius ducimus ipsum eaque dolorem ex pariatur
            iusto. Pariatur rem corrupti ad fugiat culpa doloremque? Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Nobis explicabo qui, voluptatum, beatae cumque et aut ex vero, saepe ab quae. Molestias corporis
            ducimus neque repudiandae veniam sed cumque veritatis?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore eos blanditiis harum aperiam distinctio
            quae, corporis tempore hic nostrum porro praesentium iste vero reiciendis incidunt nulla, neque eaque
            molestias. Voluptatum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis consequatur unde
            provident cumque laborum pariatur autem soluta repudiandae eius. Veniam voluptatem nemo culpa sed quos
            voluptate mollitia cupiditate. Unde, provident! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Blanditiis illo eligendi aut, veritatis assumenda, explicabo eius ducimus ipsum eaque dolorem ex pariatur
            iusto. Pariatur rem corrupti ad fugiat culpa doloremque? Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Nobis explicabo qui, voluptatum, beatae cumque et aut ex vero, saepe ab quae. Molestias corporis
            ducimus neque repudiandae veniam sed cumque veritatis?
        </p>
    </section>
</section>
<app-footer></app-footer>