<footer>
    <div class="info">
        <p class="info__nome">Gabriel Krzizanowski</p>
        <p class="info__nome">Lucas Eduardo de Carvalho</p>
        <p class="info__nome">Mauro Fialho</p>
        <div class="info__logo">
            <a href="https://www.facebook.com/FURBoficial/" target="_blank"><img src="assets/img/facebook.png" alt="Facebook"></a>
            <a href="https://twitter.com/FurbOficial" target="_blank"><img src="assets/img/twitter.png" alt="Twitter"></a>
            <a href="https://www.instagram.com/furboficial/" target="_blank"><img src="assets/img/instagram.png" alt="Instagram"></a>
        </div>
        <p class="info__copy">© 2022 Mogly</p>
    </div>
</footer>