<section id="menu">
  <p class="text-menu">☰ MENU</p>
  <section class="dropdown-menu">
    <section> 
        <p (click)="logout()"><strong>Sair</strong></p>
    </section>
    <section class="info">
      <p><strong>Informações</strong></p>
      <ul class="menu__info">
        <li><a href="">Sobre o Mogly</a></li>
        <li><a href="">Segurança</a></li>
        <li><a href="">Visitas</a></li>
        <li><a href="">Fauna</a></li>
        <li><a href="">Flora</a></li>
      </ul>
    </section>
    <section class="registration">
      <p><strong>Cadastros</strong></p>
      <ul class="menu__registration">
        <li><a href="registration">Cadastro de visitantes</a></li>
        <li><a href="">Cadastro de visitas</a></li>
      </ul>
    </section>
    <section class="warning">
      <p><strong>Avisos</strong></p>
      <ul class="menu__warning">
        <li><a href="">O que levar?</a></li>
        <li><a href="">O que fazer em caso de queda</a></li>
        <li><a href="">Animais a serem evitados</a></li>
      </ul>
    </section>
    <section class="donation">
      <p><strong>Faça uma doação</strong></p>
      <ul class="menu__donation">
        <li><a href="">Faça a sua doação</a></li>
      </ul>
    </section>
    <section class="contact">
      <p><strong>Contatos</strong></p>
      <ul class="menu__contact">
        <li><a href="">Contatos</a></li>
        <li><a href="">Ir para o WhatsApp</a></li>
      </ul>
    </section>
  </section>
</section>
