:host {
  .header {
    width: 100%;

    &__top {
      height: 50px;

      background: #000;
      color: #FFF;

      align-items: center;
      padding: 0 15px;

      display: flex;

      justify-content: space-between;

      .info {
        flex-direction: row;
        // justify-content: space-between;

        &__menu {
          cursor: pointer;
          font-size: 18px;
          right: 0%;
          position: absolute;
          left: 1%;
        }

        &__mogly {
          display: flex;
          justify-content: center;
          
          margin: 0 auto;

          text-decoration: none;
          color: #FFF;

          font-size: 15px;
          cursor: pointer;
        }

        &__mogly:hover {
          text-decoration: underline;
        }

        &__search {
          width: 200px;
          height: 25px;
          padding: 0 10px;

          position: absolute;
          right: 1%;

          border: none;
          border-radius: 12.5px;

          font-size: 15px;
          color: #FFF;
          background: rgb(102, 102, 102);
        }

      }
    }

    &__img {
      height: 235px;

      img {
        width: 100%;
        height: 235px;
      }
    }
  }
}