<main>
    <section class="login">
        <form>
            <section class="form__info">
                <label for="title__login"  class="title__login">LOGIN</label>
            </section>
            <section class="form__info">
                <label for="user">Usuário <strong class="mandatory">*</strong></label>
                <input type="text" class="input__form" name="user" placeholder="Usuário">
            </section>
            <section class="form__info">
                <label for="password">Senha <strong class="mandatory">*</strong></label>
                <input type="password" class="input__form" name="password" placeholder="Senha">
            </section>
            <section class="form__info">
                <input type="button" class="btn__login" name="btn__login" value="Login">
            </section>
        </form>
    </section>
</main>